<a href="https://colab.research.google.com/github/AndresToro0023/Gestion-y-Almacenamiento-de-Datos/blob/main/Proyecto_BD_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from traitlets.traitlets import Container
import sqlite3 as sql
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/pjm_hourly_est1.csv", header = 0)
df = pd.DataFrame(df)

In [ ]:
def createDB():
  conn = sql.connect("Clase.db") #.connect si no existe la base de datos la crea
  conn.commit()
  conn.close()
  print("Cree la base de datos")

def tableDB():
  conn = sql.connect("Clase.db")
  cursor = conn.cursor()
  cursor.execute("""CREATE TABLE Consumo_Estados_MW(
    id INT,
    Datetime TXT,
    Year INT,
    Month INT,
    Day INT,
    Hour INT,
    AEP TXT,
    COMED TXT,
    DAYTON TXT,
    DEOK TXT,
    DOM TXT,
    DUQ TXT,
    EKPC TXT,
    FE TXT,
    NI TXT,
    PJME TXT,
    PJMW TXT
  );
  """)
  conn.commit()
  conn.close()
  print("Cree la tabla")

def insertRow(list):
  conn = sql.connect("Clase.db")
  cursor = conn.cursor()
  query =f"INSERT INTO Consumo_Estados_MW VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?);"
  cursor.executemany(query,list)
  conn.commit()
  conn.close()
  print("Agrege varios registros de Consumo ")

def selectRows(field):
  conn = sql.connect("Clase.db")
  cursor = conn.cursor()
  query = f"SELECT * FROM Consumo_Estados_MW ORDER By {field} DESC LIMIT 20;" #field seleccionar columna para odenar
  cursor.execute(query)
  datos = cursor.fetchall() #.fetchall() traer todo lo de SQL a Phython
  conn.commit()
  print(datos)
  conn.close()

def countRows(field):
  conn = sql.connect("Clase.db")
  cursor = conn.cursor()
  query = f"SELECT count(*) AS {field} FROM Consumo_Estados_MW;"
  cursor.execute(query)
  datos = cursor.fetchall() #.fetchall() traer todo lo de SQL a Phython
  conn.commit()
  print(datos)
  conn.close()

def delete():
  conn = sql.connect("Clase.db")
  cursor = conn.cursor()
  query = f"DELETE FROM Consumo_Estados_MW WHERE Year like 2006;"
  cursor.execute(query)
  conn.commit()
  conn.close()
  print("registro borrado")

In [ ]:
if __name__=="__main__":
  createDB()
  tableDB()

Cree la base de datos
Cree la tabla

In [ ]:
lista = df.to_numpy().tolist()
if __name__=="__main__":
  insertRow(lista)

Agrege varios registros de Consumo

In [ ]:
# MOSTRAR 10 REGISTROS FILTRADOS POR COLUMNA AEP
if __name__=="__main__":
  selectRows('AEP')

[(87208, '2008-10-20 14:00:00', 2008, 10, 20, 14, 25695, 12438.949115842655, 2175, 3373.998753117207, 9864, 1680, 1518.4955002646902, 8499.297328244274, 11936, 32004, 5368), (80203, '2007-08-08 15:00:00', 2007, 8, 8, 15, 25164, 12540.006495849871, 3746, 3385.237738985869, 19399, 2859, 1521.1561672842774, 8473.375954198473, 20289, 58703, 8611), (80205, '2007-08-08 17:00:00', 2007, 8, 8, 17, 25140, 12573.493323709852, 3724, 3417.569409808811, 19709, 2861, 1568.31180518793, 8465.820992366413, 19756, 58996, 8466), (80204, '2007-08-08 16:00:00', 2007, 8, 8, 16, 25056, 12559.719956694336, 3741, 3395.002493765586, 19689, 2873, 1533.0010587612494, 8441.172137404581, 20318, 59437, 8596), (80181, '2007-08-09 17:00:00', 2007, 8, 9, 17, 25035, 12573.493323709852, 3655, 3417.569409808811, 17824, 2037, 1568.31180518793, 8465.820992366413, 18989, 49359, 7251), (80180, '2007-08-09 16:00:00', 2007, 8, 9, 16, 24978, 12559.719956694336, 3658, 3395.002493765586, 18129, 2004, 1533.0010587612494, 8441.172137404581, 18978, 50217, 7507), (80202, '2007-08-08 14:00:00', 2007, 8, 8, 14, 24941, 12438.949115842655, 3712, 3373.998753117207, 19210, 2813, 1518.4955002646902, 8499.297328244274, 19859, 57885, 8503), (80179, '2007-08-09 15:00:00', 2007, 8, 9, 15, 24911, 12540.006495849871, 3724, 3385.237738985869, 18519, 2565, 1521.1561672842774, 8473.375954198473, 18911, 51159, 7719), (80206, '2007-08-08 18:00:00', 2007, 8, 8, 18, 24878, 12708.983038614218, 3676, 3459.7152950955942, 19546, 2760, 1618.3377448385388, 8546.878244274809, 19132, 58654, 8311), (79845, '2007-08-23 17:00:00', 2007, 8, 23, 17, 24862, 12573.493323709852, 3630, 3417.569409808811, 13651, 2807, 1568.31180518793, 8465.820992366413, 18013, 37981, 7287), (71592, '2006-08-02 18:00:00', 2006, 8, 2, 18, 24842, 12708.983038614218, 3612, 3459.7152950955942, 19170, 2995, 1618.3377448385388, 8546.878244274809, 23411, 61610, 8694), (79844, '2007-08-23 16:00:00', 2007, 8, 23, 16, 24828, 12559.719956694336, 3633, 3395.002493765586, 13592, 2814, 1533.0010587612494, 8441.172137404581, 20345, 37873, 7231), (71591, '2006-08-02 17:00:00', 2006, 8, 2, 17, 24811, 12573.493323709852, 3644, 3417.569409808811, 19276, 3035, 1568.31180518793, 8465.820992366413, 23395, 62009, 8734), (71590, '2006-08-02 16:00:00', 2006, 8, 2, 16, 24741, 12559.719956694336, 3618, 3395.002493765586, 19156, 3023, 1533.0010587612494, 8441.172137404581, 23208, 61909, 8702), (154366, '2015-02-20 08:00:00', 2015, 2, 20, 8, 24739, 13917, 2985, 4750, 21651, 2200, 3490, 10435, 10807.087729039422, 49354, 9594), (80178, '2007-08-09 14:00:00', 2007, 8, 9, 14, 24736, 12438.949115842655, 3664, 3373.998753117207, 18884, 2621, 1518.4955002646902, 8499.297328244274, 18549, 52003, 7663), (71615, '2006-08-01 17:00:00', 2006, 8, 1, 17, 24712, 12573.493323709852, 3693, 3417.569409808811, 18904, 3000, 1568.31180518793, 8465.820992366413, 23631, 61643, 8703), (71613, '2006-08-01 15:00:00', 2006, 8, 1, 15, 24711, 12540.006495849871, 3657, 3385.237738985869, 18678, 2961, 1521.1561672842774, 8473.375954198473, 23355, 61004, 8595), (102631, '2009-01-16 08:00:00', 2009, 1, 16, 8, 24703, 10578.081198123422, 3053, 3021.865752285952, 17904, 2017, 1454.3372154579142, 7633.824045801527, 14404, 45470, 8458), (80182, '2007-08-09 18:00:00', 2007, 8, 9, 18, 24696, 12708.983038614218, 3515, 3459.7152950955942, 17363, 2041, 1618.3377448385388, 8546.878244274809, 19212, 48403, 7241)]

In [ ]:
if __name__=="__main__":
  countRows('Year')

[(109712,)]

In [ ]:
if __name__=="__main__":
  delete()

registro borrado

In [ ]:
if __name__=="__main__":
  countRows('Year')

[(101552,)]